<!--<div xmlns="http://www.w3.org/1999/html">-->
<!--  <form [formGroup]="signeInForm" (ngSubmit)="createUser()">-->
<!--    <label>First Name</label><br>-->
<!--    <input type="text" formControlName="firstName" [(ngModel)]="signeIn.firstName" placeholder="First Name"><br>-->

<!--    <label>Last Name</label><br>-->
<!--    <input type="text"formControlName="lastName" [(ngModel)]="signeIn.lastName"placeholder="Last Name"><br>-->

<!--    <label>Email</label><br>-->
<!--    <input type="email"formControlName="email"[(ngModel)]="signeIn.email" placeholder=" Email"><br>-->

<!--    <label>Select your academic status</label><br>-->
<!--    <input type="radio" formControlName="role"[(ngModel)]="signeIn.role" value="Teacher">teacher<br>-->
<!--    <input type="radio" formControlName="role"[(ngModel)]="signeIn.role" value="Student">student<br>-->
<!--    <input type="hidden" formControlName="isSubscribed" [(ngModel)]="signeIn.isSubscribed" value="false">-->
<!--    <label>Password</label><br>-->
<!--    <input type="password" formControlName="password" [(ngModel)]="signeIn.password" placeholder="Password"><br>-->
<!--    <input type="submit" value="create">-->
<!--    <a routerLink="/login">log-In</a>-->

<!--  </form>-->
<!--</div>-->

<div class="signup-container">
<div class="left-side">
  <div class="logo-text f-eb">
    <img src="assets/favicon.svg">
    <span>UniFood</span>
  </div>
  <form action="" method="post" class="form form-signup">
    <span class="form-title f-m">Sign-Up</span>
    <div class="grp-inp">
      <div class="row">
        <div class="labeled-input">
          <label>Name</label>
          <input type="text" class="" name="name" placeholder="Input your name">
        </div>

        <div class="labeled-input">
          <label>Lastname</label>
          <input type="text" class="" name="lastname" placeholder="Input your lastname">
        </div>
      </div>

      <div class="labeled-input">
        <label>Email</label>
        <input type="password" class="" name="email" placeholder="example@email.com">
      </div>

      <div class="row">
        <div class="labeled-input">
          <label>Password</label>
          <input type="password" class="" name="password" placeholder="Password">
        </div>

        <div class="labeled-input">
          <label>Confirm password</label>
          <input type="password" class="" name="confirmation_password" placeholder="Confirm password">
        </div>
      </div>

      <div class="labeled-input">
        <label>Your academic status ?</label>
        <select>
          <option value="1">No Wrapper</option>
          <option value="2">No JS</option>
        </select>
      </div>

    </div>

    <div class="row">
      <div class="remember_me">
        <input type="checkbox" name="remember" id="remember">
        <label for="remember">Remember Me</label>
      </div>

      <a href="">Forget Password</a>
    </div>

    <button type="submit" class="f-b">Proceed</button>
    <a href="" class="a-button f-b">Log-In</a>
  </form>
</div>
<app-rightside></app-rightside>
