<div class="signup">
  <div class="left-side">

    <div class="logo-text f-eb">
      <img src="/assets/favicon.svg">
      <span>UniFood</span>
    </div>

    <form [formGroup]="signupForm" (ngSubmit)="createUser()" class="form form-signup">
      <span class="form-title f-m">Create an Account</span>

      <div class="grp-inp">
        <div class="row">
          <div class="labeled-input">
            <label for="firstName">Name</label>
            <input formControlName="firstName" type="text" id="firstName" name="firstName" placeholder="Input your name" required>
          </div>

          <div class="labeled-input">
            <label for="lastName">Lastname</label>
            <input formControlName="lastName" type="text" id="lastName" name="lastname" placeholder="Input your lastname" required>
          </div>
        </div>

        <div class="labeled-input">
          <label for="email">Email</label>
          <input formControlName="email" type="email" id="email" name="email" placeholder="example@email.com" required>
        </div>

        <div class="row">
          <div class="labeled-input">
            <label for="password">Password</label>
            <input formControlName="password" type="password" id="password" name="password" placeholder="Password" required>
          </div>

          <div class="labeled-input">
            <label for="confirmPassword">Confirm password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" required>
          </div>
        </div>

        <div class="labeled-input">
          <label for="role">Your academic status ?</label>
          <select formControlName="role" id="role" name="role" required>
            <option  value="Student">Student</option>
            <option value="Teacher">Teacher</option>
          </select>
        </div>
      </div>

      <button type="submit" class="f-b">Proceed</button>
      <a routerLink="/login" class="a-button f-b">Log In</a>
    </form>
  </div>
  <div class="right-side">
    <img src="/assets/singup__image.svg">
  </div>
</div>
