<div class="login">
  <div id="left_side">
    <div id="login_div">
      <div id="login_lable">
        <label>Log-In</label>
      </div>
      <form [formGroup]="loginform" (ngSubmit)="onSubmit()">

        <label for="email-inp">Email</label>
        <input type="email" formControlName="email" [(ngModel)]="login.email" placeholder="Email"  id="email-inp">

        <label for="pass-inp">Password</label>
        <input type="password" formControlName="password" [(ngModel)]="login.password" placeholder="password"class="form-control" id="pass-inp">

        <input type="submit" name="submit" value="Proceed" id="proc">
        <a routerLink="/signup">create an account</a>
      </form>
    </div>
  </div>

  <div id="right_side">
    <img src="/assets/Order%20Success.svg" alt="random shit nigga">
  </div>
</div>
