<table>
  <tr>
<div id="left_side">
<div id="login_div">
  <div id="login_lable">
    <label>Log-In</label>
  </div>
  <table>
    <tr>
      <label>Email</label><br>

      <input type="email" name="email" placeholder="Email"class="in">
    </tr>
    <tr>
      <label>Password</label><br>

      <input type="password" name="password" placeholder="passowd"class="in">
    </tr>
  </table>
  <input type="submit" name="submit" value="Proceed"id="proc"><br>
  <input type="Submit" name="create" id="Create an account"id="create">
</div>
</div>
<div id="right_side">
  <img src="/assets/Order%20Success.svg" alt="random shit nigga">
</div>
  </tr>
</table>
