.login {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.right-side {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px 0 0 24px;
  background-position: top;
}

.left-side {
  display: flex;
  flex-direction: column;
}
