<div class="login">
  <div id="left_side">

    <div id="login_lable">
      <label id="log">Log-In</label>
    </div>

    <form [formGroup]="loginform" (ngSubmit)="correct()">
      <div>
        <label id="email" for="email-inp">Email</label><br>
        <input type="email" formControlName="email" [(ngModel)]="login.email" placeholder="Email"  id="email-inp"><br>
      </div>
      <div>
        <label id="password" for="pass-inp">Password</label><br>
        <input type="password" formControlName="password" [(ngModel)]="login.password" placeholder="password" class="form-control" id="pass-inp">
      </div>
      <div class="forget">
        <div>
          <p>Remember Me</p>
        </div>
        <div>
          <a id="gre" href="">Forget Password</a>
        </div>
      </div>
      <Button id="proc">Proceed</Button>
      <Button id="sec" routerLink="/signup">create an account</Button>
    </form>

  </div>

  <div id="right_side">
    <img src="/assets/Order%20Success.svg" alt="random shit nigga">
  </div>

</div>
