<p>userhome works!</p>
<nav>
  <a href="#">notification</a>
  <a [routerLink]="['/ticket',signInId]" routerLinkActive="active">Ticket</a>
  <a [routerLink]="['/profile',signInId]">profile</a>
  <a href="#">logout</a>
</nav>
<div>
  <p>{{ signeIn.firstName }}</p>
  <p>{{ signeIn.lastName }}</p>
  <p> {{ signeIn.email }}</p>
  <p>{{signeIn.role}}</p>
</div>

<div>
  <p>number of tickets you have : {{userTicketNumber}}</p>
</div>

<div>
  <p>your ticket spending : {{userTicketNumber*price}}</p>
</div>
<div>
  <p>today's meal :</p>
  <p>{{mealInfo.description}}</p>
</div>
