.right-side {
  width: 100%;
  height: 100vh;
  padding: 3.2rem;
  gap: 1.2rem;
}

.right-side > *:first-child {
  display: flex;
  flex-direction: column;
}

.right-side > .row{
  overflow: hidden;
  gap: 1.8rem;
  display: flex;
  width: 312px;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.right-side .container .tickets {
  width: fit-content;
  font-size: 2.4rem;
  color: var(--text-color);
  align-items: center;
  gap: .2rem;
}

.container {
  padding: 1.8rem 1.8rem;
}

.right-side .stats-container{
  max-width: 40rem;
  width: -webkit-fill-available;
  gap: 1.2rem;
}

.right-side > .row > *{
  overflow-y: auto;
  overflow-x: hidden;
}

.right-side .stats {
  min-width: 20rem;
  padding: 0;
  justify-content: unset;
  height: 11.2rem;
}

.right-side .stats .stats-time {
  font-size: 1.2rem;
  align-content: center;
  padding: 1.2rem;
  border-right: 1px dashed var(--border-color);
  min-width: 11.2rem;
  text-align: center;
}

.right-side .stats .stats-numbers{
  width: -webkit-fill-available;
}

.right-side .stats .stats-numbers > .row{
  height: -webkit-fill-available;
  align-items: center;
  padding: 1.2rem;
  gap: 1.2rem;
}

.right-side .stats .stats-numbers > .row:first-child{
  border-bottom: 1px solid var(--border-color);
}

.right-side .stats .stats-numbers .row .numbers-type{
  font-size: 1.8rem;
  color: var(--muted-text);
}

.right-side .stats .stats-numbers .row .numbers-value{
  width: fit-content;
  align-items: center;
  color: var(--muted-text);
  gap: .4rem;
}

.right-side .stats .stats-numbers .row .numbers-value span{
  font-size: 1.8rem;
}

.right-side .stats .stats-numbers .row .numbers-value .icon{
  height: 1.8rem;
  width: 1.8rem;
}

.right-side .stats .stats-numbers .row .numbers-value .icon .icon--fill{
  fill: var(--muted-text);
}

.right-side .notification-container{
  width: -webkit-fill-available;
  gap: 1.2rem;
  color: var(--muted-text);
}

.right-side .notification-container .notification{
  gap: .8rem;
  padding: 1.2rem 1.8rem;
}

.right-side .notification-container .notification .icon{
  margin: auto;
}

.right-side .notification-container .notification .icon .icon--fill{
  fill: #A5A9AF;
}

.right-side .notification-container .notification .details{
  width: -webkit-fill-available;
}

.right-side .notification-container .notification .details .primary-text{
  color: var(--text-color);
}
.column{
  border-radius: 12px;
  border: 1px solid #E9E9E9;
  background: #FFF;
}
.f-sb{
  display: flex;
  width: 97px;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
}
.pp{
  font-size: 1.8rem;
  border-radius: 12px;
  border: 1px solid #E9E9E9;
  background: #FFF;
  display: flex;
  width: 312px;
  padding: 12px 24px;
  align-items: center;
  gap: 128px;
}
.imgtext{
  display: flex;
  border-radius: 12px;
  border: 1px solid #E9E9E9;
  background: #FFF;
  width: 312px;

  padding: 12px 24px;
  align-items: center;
  gap: 10px;
}
