@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* Fix Section Start */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  border: none;
  outline: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Fixer Section Ends */

:root {
  --pri_bg: WHITE;
  --accent: #FCA311;
  --nobel_black__300: #9B9C9E;
  --nobel_black__400: #686B6E;
  --nobel_black__500: #363A3D;
  --nobel_black__600: #1A1D21;
  --nobel_black__800: #0D0F10;
  --day_blue__900: #0C1132;
  --border_r: 8px;
  font-size: 10px;
}

*::-webkit-input-placeholder {
  color: var(--nobel_black__300);
}

*:-moz-placeholder {
  color: var(--nobel_black__300);
  opacity: 1;
}

*::-moz-placeholder {
  color: var(--nobel_black__300);
  opacity: 1;
}

*:-ms-input-placeholder {
  color: var(--nobel_black__300);
}

*::-ms-input-placeholder {
  color: var(--nobel_black__300);
}

*::placeholder {
  color: var(--nobel_black__300);
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: var(--pri_bg);
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.group {

}

a {
  text-decoration: none;
  color: var(--accent);
}

p {
  font-size: 1.8rem;
}

.right-side, .left-side {
  height: 100%;
  width: 50%;
}

button, input, textarea, *.button {
  border-radius: var(--border_r);
  color: white;
}

h2{
  color: white;
}

.w-100per{
  width: 100%;
}

/* Font Section Start */
.font {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.f-xl, .f-xl-i {
  font-weight: 200;
}

.f-l, .f-l-i {
  font-weight: 300;
}

.f-r, .f-r-i {
  font-weight: 400;
}

.f-m, .f-m-i {
  font-weight: 500;
}

.f-sb, .f-sb-i {
  font-weight: 600;
}

.f-b, .f-b-i {
  font-weight: 700;
}

.f-eb, .f-eb-i {
  font-weight: 800;
}

.f-xl-i, .f-l-i, .f-r-i, .f-m-i, .f-sb-i, .f-b-i, .f-eb-i {
  font-style: italic !important;
}

.input-w-icon, .labeled-input{
  font-size: 1.6rem;
}

h2{
  font-size: 2.4rem;
}

h3{
  font-size: 1.6rem;
}

/* Font Section End*/
/* Input Section start */

.labeled-input {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.labeled-input input, .input-w-icon {
  background-color: var(--nobel_black__600);
  border: 1px solid var(--nobel_black__500);
  border-radius: 8px;
  padding: 12px 16px;
}

.labeled-input label {
  color: var(--nobel_black__300);
  padding-bottom: 16px;
}

.input-w-icon {
  display: flex;
}

.input-w-icon input {
  width: -webkit-fill-available;
  background: none;
  margin-left: 12px;
}




