user-home{
  padding: 1.2rem;
  width: 100%;
}

user-home > .row:first-child{
  justify-content: unset;
  gap: 1.8rem;
}

.account-info{
  gap: 1.2rem;
  min-width: 25rem;
}

.info-personal{
  padding: .8rem 1.8rem;
}

.info-tickets, .info-spending{
  padding: 1.2rem 2.4rem;
}

.info-spending > .row > .row{
  width: fit-content;
  gap: .4rem;
}

.info-spending > .row > .row img{
  height: 1.6rem;
}

.home-info{
  width: -webkit-fill-available;
}

.home-info .meal{
  width: 100%;
  padding: 1.2rem 1.8rem;
  justify-content: unset;
  gap: 1.2rem;
}
